#alpha {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 14em;
  color: #FFF;
  background-image: url(#{$assets-images-path}cmo-hiker.jpg);
  background-position: center center;
  background-size: cover;

  h1 { color: $white; }

  @include media ($tablet-portrait) {
    background-image: url(#{$assets-images-path}cmo-hiker-portrait.jpg);
    padding: 12em 2em 2em;

    h1 { font-size: $h2-font-size; }
  }

  @include media ($phone-landscape) {
    background-image: url(#{$assets-images-path}cmo-hiker.jpg);
    padding: 6em 3em 3em;

    h1 { font-size: $h3-font-size; }
    p { display: none; }
  }

  @include media ($phone-portrait) {
    background-image: url(#{$assets-images-path}cmo-hiker-portrait.jpg);
    padding: 8em 2em 2em;

    h1 { font-size: $h3-font-size; }
    p { display: none; }
  }

  .scroll {
    position: absolute;
    bottom: 2em;
    left: 0;
    margin-top: 0;
    width: 100%;
    color: white;
  }
}
