.apply {

  .hero {
    $hero-image: "camping-blur.png";
    @include background(url(#{$assets-images-path}#{$hero-image}), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
    background-size: cover;
    background-position: top;
    background-color: #324766;
    background-repeat: no-repeat;
  }

  section.page-content {
    @include outer-container;
    padding: 2em;

    @include media($large-screen) {
      padding: 4em 10em 4em 12em;
    }

    h5 {
      margin: 0;
    }

    @include media ($phone-portrait) {
      p { font-size: 0.9em; }
    }
  }
}
