#call-to-men {
  width: 100%;
  height: 100vh;
  padding: 8em 5em 5em;
  background-size: cover;
  text-align: center;
  position: relative;
  background-color: $base-background-color;

    .svg-logo {
      width: 100%;
      height: auto;
      box-shadow: 0 2px 4px darken($light-gray, 10%);
      border-radius: 50%;
    }

  @include media ($tablet-portrait) {
    padding: 9em 3em 3em;
  }

  @include media ($phone-portrait) {
    height: initial;
    background-size: initial;
    padding: 5em 1em 1em;

    h2 { font-size: $h4-font-size; }
    a.scroll { display: none; }
  }

  @include media ($phone-landscape) {
    height: initial;
    background-size: initial;
    padding: 5em 1em 1em;

    h2 { font-size: $h4-font-size; }
    a.scroll { display: none; }
  }

  div.wrap {
    @include outer-container;
    text-align: left;
  }

  aside {
    @include span-columns(3);
    padding-right: 1em;

    @include media ($phone-portrait) {
      display: none;
    }

    @include media ($phone-landscape) {
      display: none;
    }
  }

  article {
    @include span-columns(9);

    @include media ($phone-portrait) {
      @include span-columns(4);
    }

    @include media ($phone-landscape) {
      @include span-columns(8);
    }
  }

  .scroll {
    position: absolute;
    bottom: 1em;
    left: 0;
    margin-top: 0;
    width: 100%;
    color: $dark-gray;
  }
}
