section.contact-bar {
  $contact-background: desaturate($accent-green, 10%);
  $contact-link-color: $primary-blue-dark;

  background-color: $contact-background;
  padding: 3em;

  @include media ($phone) {
    padding: 2em;
  }

  .wrap {
    @include outer-container;
    text-align: center;

    h3 {
      margin-bottom: 0.5em;
      color: white;
      font-size: $h3-font-size;

      @include media ($phone) {
        font-size: $h5-font-size;
      }
    }

    a {
      color: $contact-link-color;
      font-size: $h5-font-size;

      @include media ($phone) {
        font-size: $h6-font-size;
      }

      &:active,
      &:focus,
      &:hover {
        color: shade($contact-link-color, 25%);
        outline: none;
      }
    }

  }
}
