.copyright-footer {
  $base-spacing: 1.5em;
  $footer-background: desaturate(darken($medium-gray, 20%), 30%);
  $footer-color: $white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  display: inline-block;
  margin-bottom: -20px;
  padding: $base-spacing;
  width: 100%;

  p {
    font-weight: 400;
    line-height: 1.5em;
    margin: 0 0 1em;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.9em;
      margin-bottom: 0;
    }

    @include media ($phone-portrait) {
      font-size: 0.8em;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        float: left;
        font-size: 1em;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
