.faq {

  .hero {
    $hero-image: "film-crowd-blur.png";
    @include background(url(image_path($hero-image)), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
    background-size: cover;
    background-position: top;
    background-color: #324766;
    background-repeat: no-repeat;
    padding: 4em;
  }

  section.page-content {
    @include outer-container;
    padding: 2em;
    padding-left: 4em;

    a, i { color: $primary-blue-dark; }

    @include media ($phone-portrait) {
      a, i { font-size: $base-font-size; }
    }

    @include media ($phone-landscape) {
      a, i { font-size: $base-font-size; }
    }

    @include media ($phone-portrait) {
      ul.submenu p { font-size: 0.9em; }
    }

    @include media ($phone-landscape) {
      ul.submenu p { font-size: 0.9em; }
    }

    @include media($large-screen) {
      padding: 4em 10em 4em 12em;
    }
  }
}
