@import "hero";

.faq {

  .hero {
    $hero-image: "film-crowd-blur.png";
    @include background(url(image_path($hero-image)), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
    background-size: cover;
    background-position: top;
    background-color: #324766;
    background-repeat: no-repeat;
    padding: 4em;
  }

  section.page-content {
    @include outer-container;
    padding: 2em;
    padding-left: 4em;

    @include media($large-screen) {
      padding: 4em 10em 4em 12em;
    }
  }
}
