$base-border-radius: 3px !default;
$large-screen: em(860) !default;
$navigation-padding: 1em;
$navigation-background: $text-icon-white;
$navigation-color: $action-color;
$navigation-color-hover: $action-color;
$navigation-height: 70px;
$navigation-height-mobile: 55px;
$navigation-active-link-color: transparentize($text-icon-white, 0.5);
$horizontal-bar-mode: $medium-screen;

header.navigation {

  background-color: $navigation-background;
  min-height: $navigation-height-mobile;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 10px -5px darken($medium-gray, 10%);
  @include position(fixed);
  @include transform(translateY(-110%));

  &.transition {
    @include transition(all 0.15s linear);
  }

  &.is-visible {
    @include transform(translateY(0));
  }

  @include media ($horizontal-bar-mode) {
    min-height: $navigation-height;
  }

  .navigation-wrapper {
    @include clearfix;
    padding: 0;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    position: absolute;
    left: 0;
    top: 0;

    @include media ($horizontal-bar-mode) {
      max-height: $navigation-height;
      width: 52px;
      margin-left: 7px;
    }

    @include media ($tablet-portrait) {
      max-height: $navigation-height;
      width: 52px;
      margin-left: 7px;
    }

    @include media ($phone-landscape) {
      max-height: $navigation-height-mobile;
      width: 40px;
      margin-left: 7px;
    }

    .svg-logo {
      width: 100%;

      @include media ($horizontal-bar-mode) {
        max-height: $navigation-height;
      }
      @include media ($tablet-portrait) {
        max-height: $navigation-height;
      }
      @include media ($phone-landscape) {
        max-height: $navigation-height-mobile;
      }
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height-mobile;
    margin: 0;
    padding: 0 1em;
    text-decoration: none;
    font-size: 1.5em;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    @include media ($tablet-portrait) {
      line-height: $navigation-height;
    }

    @include media ($phone-landscape) {
      line-height: $navigation-height-mobile;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height-mobile;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      min-height: $navigation-height;
      float: right;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height-mobile;
    overflow: hidden;
    text-align: center;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid transparentize($navigation-color, 0.8);

    &:last-child {
      border-bottom: 0;
    }

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
      padding-right: 2em;
      border-bottom: 0;

      &:last-child {
        padding-right: 1em;
      }
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;
      line-height: 30px;

      &:focus,
      &:hover {
        color: $navigation-color-hover;
        @include media ($horizontal-bar-mode) {
          border-bottom: 2px solid $navigation-color-hover;
        }
      }
    }

    button {
      border: 1px solid $navigation-color;
      background-color: transparent;
      vertical-align: initial;
      padding: em(10px) em(20px);
      text-transform: uppercase;
      color: $navigation-color;
      &:hover,
      &:focus {
        background-color: transparentize($navigation-color, 0.7);
      }
    }

    a.button {
      &:hover,
      &:focus {
        border: 0;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }
}
