$large-screen: em(860) !default;
$hero-background-top: #1976D2;
$hero-background-bottom: #212121;
$hero-color: $text-icon-white;
$gradient-angle: 10deg;

.hero {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 4em;

  @include media ($phone-portrait) {
    padding: 2em 3em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 4em 2em;
    text-align: center;

    @include media ($phone-landscape) {
      padding: 0;
    }

    @include media ($phone-portrait) {
      padding: 0;
    }

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        margin-bottom: 0.3em;

        @include media($phone-landscape) {
          font-size: $h3-font-size;
        }

        @include media($phone-portrait) {
          font-size: $h3-font-size;
        }
      }

      p {
        color: $hero-color;

        @include media($large-screen) {
          font-size: 1.1em;
        }
      }
    }
  }
}
