.accordion {
  $accordion-menu-border-color: $light-gray;
  $accordion-menu-color: $primary-blue-dark;
  $accordion-menu-border: 1px solid $accordion-menu-border-color;
  $accordion-menu-background: $text-icon-white;
  $accordion-menu-hover: lighten($accordion-menu-background, 2%);
  $accordion-menu-sub-background: darken($accordion-menu-background, 5%);
  $accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6%);
  $accordion-menu-sub-hover: lighten($accordion-menu-sub-background, 2%);
  $accordion-menu-list-padding: 0 $gutter 0.3em 0;

  background-color: $accordion-menu-background;
  border-bottom: $accordion-menu-border;
  margin: 0 0 $base-spacing 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: $accordion-menu-border;
    list-style: none;

    .fa-li {
      top: 0.35em;
      font-size: 1.4em;
      color: $accordion-menu-color;
    }

    > a {
      font-size: 1.4em;
      color: $accordion-menu-color;
      display: block;
      padding: $accordion-menu-list-padding;
      padding-left: 0;
      margin-top: 1.5em;
      text-decoration: none;
    }

    &:last-child {
      border: none;
    }

    &:focus,
    &:hover {
      background-color: $accordion-menu-hover;
    }

  }

  ul.submenu {
    display: none;

    li {
      background-color: $accordion-menu-sub-background;
      padding: 1em;

      &:first-child {
        border-top: $accordion-menu-border;
        border-left: $accordion-menu-border;
        border-right: $accordion-menu-border;
        box-shadow: inset 0 1px 1px $accordion-menu-sub-inset;
      }

      &:focus,
      &:hover {
        background-color: $accordion-menu-sub-hover;
      }
    }
  }

  .is-expanded {
    display: block;
    padding-bottom: 0;
  }
}
