$large-screen: em(860) !default;
$hero-background-top: #1976D2;
$hero-background-bottom: #212121;
$hero-color: $text-icon-white;
$gradient-angle: 10deg;
$hero-image: "";

.hero {
  @include background(url(image_path($hero-image)), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 4em;

  @include media ($phone) {
    padding: 2em 3em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 4em 2em;
    text-align: center;

    @include media ($phone) {
      padding: 1em;
    }

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        // font-size: 1.6em;
        margin-bottom: 0.3em;

        @include media($phone) {
          font-size: $h3-font-size;
        }
      }

      p {
        color: $hero-color;
        // line-height: 1.4em;
        // margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          // max-width: 40%;
        }
      }
    }
  }
}
