@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

$visual-grid: false;
$visual-grid-color: cyan;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Neat Breakpoints
$large-screen: 1100px;
$medium-screen: 900px;
$small-screen: 740px;
$tiny-screen: 430px;

$tablet-landscape: new-breakpoint(max-width $large-screen 12);
$tablet-portrait: new-breakpoint(max-width $medium-screen 8);
$phone-landscape: new-breakpoint(max-width $small-screen 8);
$phone-portrait: new-breakpoint(max-width $tiny-screen 4);
