.alpha {
  background-image: url(#{$assets-images-path}cmo-hiker-blur.jpg);
  background-position: center center;
  background-size: cover;
  color: $white;
  height: 100vh;
  padding: 10em;
  text-align: center;
  width: 100%;

  @include media ($tablet-portrait) {
    background-image: url(#{$assets-images-path}cmo-hiker-portrait-blur.jpg);
    padding: 8em 2em 2em;

    h1 { font-size: $h2-font-size; }
  }

  @include media ($phone-landscape) {
    background-image: url(#{$assets-images-path}cmo-hiker-blur.jpg);
    padding: 6em 3em 3em;

    h1 { font-size: $h3-font-size; }
    p { display: none; }
  }

  @include media ($phone-portrait) {
    background-image: url(#{$assets-images-path}cmo-hiker-portrait-blur.jpg);
    padding: 6em 2em 2em;

    h1 { font-size: $h3-font-size; }
    p { display: none; }
  }

  h1 { color: $white; }

  .scroll {
    bottom: 2em;
    color: $white;
    left: 0;
    margin-top: 0;
    position: absolute;
    width: 100%;
  }
}

.alpha-logo {
  margin-bottom: 2em;

  .svg-logo {
    height: 25%;
    width: 25%;

    @include media ($tablet-landscape) {
      height: 40%;
      width: 40%;
    }

    @include media ($phone-landscape) {
      height: 50%;
      width: 50%;
    }
  }
}

.alpha-button {
  background-color: transparent;
  border: 1px solid $white;
  text-transform: uppercase;
}
