<div class="comment">
  <div class="comment-image">
    <%= inline_svg step["image"], class: "svg-icon" %>
  </div>
  <div class="comment-content">
    <h1><%= step["title"] %></h1>
    <%= step["body"] %>
    <% unless step["path"].empty? %>
      <p>
      <% link_to send(%{#{step["path"]}}) do %>
        <i class="fa fa-fw fa-cloud-download"></i>&nbsp;<%= step["link_text"] %>
      <% end %>
      </p>
    <% end %>
  </div>
</div>
