<div class="comment">
  <div class="comment-image">
    <%= inline_svg step["image"] %>
  </div>
  <div class="comment-content">
    <h1><%= step["title"] %></h1>
    <%= step["body"] %>
    <!-- <p class="comment&#45;detail">Date or details about this post</p> -->
  </div>
</div>
