<section class="contact-bar">
  <div class="wrap">
      <h3><%= contact_text %></h3>
      <a href="mailto:info@euroteamoutreach.org"><i class="fa fa-envelope"></i>&nbsp;info@euroteamoutreach.org</a>
  </div>
</section>
