<footer class="footer-2" role="contentinfo">
  <div class="footer-left-section" id="copyright">
  </div>
  <div class="footer-secondary-links">
    <ul class="footer-social">
      <li><a href="javascript:void(0)">
          <%= image_tag "facebook-logo-circle.png" %>
        </a></li>
      <li><a href="javascript:void(0)">
          <%= image_tag "twitter-logo-circle.png" %>
        </a></li>
      <li><a href="javascript:void(0)">
          <%= image_tag "youtube-logo-circle.png" %>
        </a></li>
    </ul>
  </div>
  <br />
</footer>
