<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag "cmo-logo.png" %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">MOVIE</a></li>
        <li class="nav-link"><a href="javascript:void(0)">TESTIMONIES</a></li>
        <li class="nav-link"><a href="javascript:void(0)">FAQ</a></li>
        <li class="nav-link"><button><a href="#">Apply</a></button></li>
      </ul>
    </nav>
  </div>
</header>
