<header id="opaque-nav" class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag "cmo-logo-color.png" %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu-opa">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu-opa" class="navigation-menu show">
        <li class="nav-link"><a class="scroll-on-page-link" href="#call-to-men">Overview</a></li>
        <li class="nav-link"><a href="javascript:void(0)">FAQ</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Movie</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Testimonies</a></li>
        <li class="nav-link"><a href="#" class="button"><button>Apply</button></a></li>
      </ul>
    </nav>
  </div>
</header>
