<li>
  <a href="javascript:void(0)" class="js-accordion-trigger"><i class="fa fa-plus-square-o fa-fw"></i>&nbsp;<%= question["title"] %></a>

  <ul class="submenu">
    <li>
      <%= question["answer"] %>
    </li>
  </ul>
</li>
