<li><i class="fa-li fa fa-plus-square-o"></i>
  <a href="javascript:void(0)" class="js-accordion-trigger"><%= question["title"] %></a>

  <ul class="submenu">
    <li>
      <%= question["answer"] %>
    </li>
  </ul>
</li>
