:javascript
  var sc_project=11361483; 
  var sc_invisible=1; 
  var sc_security="e33f7f54"; 
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
