<li class="bullet">
  <div class="bullet-icon bullet-icon-1">
    <%= image_tag testimony["image"]%>
  </div>
  <div class="bullet-content">
    <h2><%= testimony["name"] %> </h2>
    <%= testimony["text"] %>
  </div>
</li>
