<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <%= image_tag "cmo-logo-white-100.png" %>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Get to know CMO</h3></li>
      <li><a href="javascript:void(0)">Overview</a></li>
      <li><a href="javascript:void(0)">Movie</a></li>
      <li><a href="javascript:void(0)">FAQ</a></li>
      <li><a href="javascript:void(0)">Testimonies</a></li>
    </ul>
    <ul>
      <li><h3>Apply for CMO</h3></li>
      <li><a href="javascript:void(0)">Requirements</a></li>
      <li><a href="javascript:void(0)">Apply Now</a></li>
    </ul>
    <ul>
      <li><h3>Downloads</h3></li>
      <li><a href="javascript:void(0)">Info Pack</a></li>
      <li><a href="javascript:void(0)">Application</a></li>
      <li><a href="javascript:void(0)">Recommendation Form</a></li>
    </ul>
  </div>
 <hr>

  <p>Carpathian Mountain Outreach is a ministry of Euro Team Outreach, Inc.</p>
</footer>
