---
title: Apply for CMO 2016
---

%section.hero
  .hero-inner
    .hero-copy
      %h1
        Apply for CMO #{current_project_year}

%section.page-content
  %article.announcements
    %h6
      Before applying for CMO, please read the #{link_to "Requirements", "/requirements"}.
    %hr
    -# %h6= registration_message
    %h6.closed
      CMO has been postponed until 2018.
      Please #{link_to "read the announcement", "/announcement"} for details.

  %h5 How to Apply
  %hr
  - data["apply-steps"].each do |step|
    = partial "partials/apply-step", locals: { step: step }
