---
title: Apply for CMO 2016
---

<section class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Apply for CMO 2016</h1>
    </div>
  </div>
</section>

<section class="page-content">
  <article class="announcements">
    <h6>Before applying for CMO, please read the <%= link_to "Requirements", "/requirements" %>.</h6>
    <hr />
    <h6>All applications for CMO 2016 are due no later than April 1, 2016.</h6>
  </article>

  <h5>How to Apply</h5>
  <hr />
  <% data["apply-steps"].each do |step| %>
    <%= partial "apply-step", locals: { step: step } %>
  <% end %>
</section>
