---
title: Downloads
---

%section.hero
  .hero-inner
    .hero-copy
      %h1 Downloads
%section.page-content
  .cards
    - data["downloads"].each do |download|
      = partial "download", locals: { download: download }
  %article.announcements
    %h6
      For step-by-step instructions on how to apply for CMO #{current_project_year},
      %br>/
      please #{link_to "visit the Apply page", "/apply"}.
