---
title: Frequently Asked Questions
---

<section class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1 class="foo bar">Frequently Asked Questions</h1>
    </div>
  </div>
</section>

<section id="faq-body">
  <ul class="accordion">
    <% data["questions"].each do |question| %>
      <%= partial "question", locals: { question: question } %>
    <% end %>
  </ul>
</section>
