---
title: Frequently Asked Questions
---

<section class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Frequently Asked Questions</h1>
    </div>
  </div>
</section>

<section class="page-content">
  <ul class="accordion fa-ul">
    <% data["questions"].each do |question| %>
      <%= partial "question", locals: { question: question } %>
    <% end %>
  </ul>
</section>
