---
title: Frequently Asked Questions
---

%section.hero
  .hero-inner
    .hero-copy
      %h1 Frequently Asked Questions
%section.page-content
  %ul.accordion.fa-ul
    - data["questions"].each do |question|
      = partial "question", locals: { question: question }
