---
title: Carpathian Mountain Outreach
---

<section id="alpha">
  <h1>Carpathian Mountain Outreach</h1>
  <p>&ldquo;Go ye therefore, and teach all nations...&rdquo;</p>
  <a class="scroll scroll-on-page-link" href="#call-to-men">
    <i class="fa fa-chevron-down fa-2x"></i>
  </a>
</section>

<section id="call-to-men">
  <div class="wrap">
    <aside>
      <%= image_tag "cmo-logo-full.png" %>
    </aside>
    <article>
      <h2>A Call to Men</h2>
      <%= data.content.call_to_men %>
    </article>
  </div>
</section>

<section id="delta">
  <h2>DELTA</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
