---
title: The CMO Movie
---

%section.movie-hero
  .video
    .video-wrapper
      %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/54351688?color=2196F3&title=0&byline=0&portrait=0", :webkitallowfullscreen => ""}
%section.page-content
  %h3 Looking for the short version?
  %h4= link_to "cmoproject.org/movie-trailer", "/movie-trailer"
