---
title: The CMO Movie
---

<section class="movie-hero">
  <div class="video">
    <div class="video-wrapper">
      <iframe src="https://player.vimeo.com/video/54351688?color=2196F3&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>


<section class="page-content">
  <h3>Looking for the short version?</h3>
  <h4><%= link_to "cmoproject.org/movie-trailer", "/movie-trailer" %></h4>
</section>
