---
title: Requirements
---

<section class="page-content">
  <div class="title">
    <h1>Requirements</h1>
    <p>Spreading the Gospel with a team of missionaries in a foreign country is not for everyone. Carpathian Mountain Outreach is geared towards frontline, active ministry and is best suited for single young men who meet the requirements listed below.</p>
  </div>

  <% data["requirements"].each do |requirement| %>
    <%= partial "requirement", locals: { requirement: requirement } %>
  <% end %>
</section>
